#pie{
	position: relative;
	left: 300px;
	top: 200px;

}


#contenedor{
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	
}

.desplegable{
	position: relative;
	top: 0px;
	left: 20px;
}


#imagenusuario{
	position: relative;
	top: 20px;
	left: 20px;
	border-style: solid;
	width: 150px;
	
	border-radius: 5%;
	border-color: #7f7f7f;
	
}


#contenedorinterno{
	position: relative;
	border-style: solid;
	width: 800px;
	left: 300px;
	top: -190px;
	height: 100%;
	border-radius: 2%;
	
}
